<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>600</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>601</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>602</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>603</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>604</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>605</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>606</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>607</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>608</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>609</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
