<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>610</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>611</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>612</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>613</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>614</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>615</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>616</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>617</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>618</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>619</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
