<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>640</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>641</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>642</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>643</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>644</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>655</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>666</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>667</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>668</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
		<dict>
			<key>Comment</key>
			<string></string>
			<key>Id</key>
			<string>669</string>
			<key>Tags</key>
			<string>C++</string>
			<key>Level</key>
			<string></string>
			<key>Correct Answers</key>
			<string></string>
			<key>answers</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>a</key>
			<string></string>
			<key>q</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
